argparse-manpage==4.5
asn1crypto==0.24.0
Babel==2.5.1
cffi==1.11.5
chardet==3.0.4
Cheetah3==3.2.3
cloud-init==20.1
configobj==5.0.6
cryptography==3.2.1
dbus-python==1.2.4
decorator==4.2.1
file-magic==0.3.0
gpg==1.13.1
idna==2.5
iotop==0.6
isc==2.0
Jinja2==2.10.1
jsonpatch==1.21
jsonpointer==1.10
jsonschema==2.6.0
libcomps==0.1.18
MarkupSafe==0.23
netifaces==0.10.6
nftables==0.1
oauthlib==2.1.0
pciutils==2.3.6
pexpect==4.3.1
ply==3.9
prettytable==0.7.2
ptyprocess==0.5.2
pycparser==2.14
PyGObject==3.28.3
PyJWT==1.6.1
pyOpenSSL==19.0.0
pyparsing==2.4.5
PySocks==1.6.8
python-dateutil==2.6.1
python-dmidecode==3.12.2
pytz==2017.2
PyYAML==3.12
requests==2.20.0
rhnlib==2.8.6
rpm==4.14.3
selinux==2.9
sepolicy==1.1
setools==4.3.0
six==1.11.0
slip==0.6.4
slip.dbus==0.6.4
sos==4.5.3
systemd-python==234
tomli==1.2.3
urllib3==1.24.2
