<!DOCTYPE html>
<html>

<head>
    <title>Stock Trading Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h1>Stock Trading Platform</h1>
        <section id="auth">
            <div id="login-form" style="display: none;">
                <label for="username-input">Username:</label>
                <input type="text" id="username-input" placeholder="Enter username">
                <label for="password-input">Password:</label>
                <input type="password" id="password-input" placeholder="Enter password">
                <button id="login-btn">Login</button>
            </div>
            <div id="logged-in-info">
                <p>Environment: <span id="login-env"></span></p>
            </div>
        </section>
    </header>
    <main>
        <section id="trade-news">
            <section id="trade">
                <h2>Trade</h2>
                <div class="trade-container">
                    <div class="trade-info">
                        <label for="symbol-input">Ticker:</label>
                        <input type="text" id="symbol-input" placeholder="Enter stock symbol">
                        <p>Latest Price: <span id="latest-price"></span></p>
                    </div>
                    <div class="trade-input">
                        <label for="quantity-input">Quantity:</label>
                        <input type="number" id="quantity-input" placeholder="Enter stock quantity">
                        <label for="price-input">Price:</label>
                        <input type="number" id="price-input" placeholder="Enter price">
                        <select id="order-type-select">
                            <option value="1">LMT (限价单)</option>
                            <option value="2">MKT (市价单)</option>
                            <option value="3">STL (止损限价单)</option>
                            <option value="4">STP (止损市价单)</option>
                            <option value="5">LIT (限价止盈单)</option>
                            <option value="6">MIT (市价止盈单)</option>
                            <option value="7">TSL (跟踪止损限价单)</option>
                            <option value="8">TS (跟踪止损市价单)</option>
                        </select>
                    </div>
                    <div class="trade-extend-input">
                        <label for="trail-amount-input">Trail Amount:</label>
                        <input type="number" id="trail-amount-input" placeholder="Enter trail amount" value="1.0">
                        <label for="trail-ratio-input">Trail Ratio:</label>
                        <input type="number" id="trail-ratio-input" placeholder="Enter trail ratio" value="20">
                        <label for="trail-ratio-input">%</label>
                    </div>
                    <div class="trade-buttons">
                        <button id="buy-btn">Buy</button>
                        <button id="sell-btn">Sell</button>
                    </div>
                    <div class="trade-actions">
                        <table id="orders-table">
                            <thead>
                                <tr>
                                    <th>Symbol</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>
                                    <th>Side</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <button id="execute-orders-btn">Execute Orders</button>
                        <button id="close-all-btn">Close All Positions</button>
                    </div>
                </div>
            </section>
            <section id="portfolio">
                <h2>Portfolio</h2>
                <table id="portfolio-table">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </section>
        </section>
        <section id="chart-portfolio">
            <canvas id="chart-container"></canvas>
            <section id="news">
                <h2>Latest News</h2>
                <div id="news-container">
                    <ul id="log-messages"></ul>
                </div>
            </section>
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>