<!DOCTYPE html>
<html>

<head>
    <title>Stock Trading Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h1>Stock Trading Platform</h1>
        <section id="auth">
            <div id="login-form">
                <label for="username-input">Username:</label>
                <input type="text" id="username-input" placeholder="Enter username">
                <label for="password-input">Password:</label>
                <input type="password" id="password-input" placeholder="Enter password">
                <button id="login-btn">Login</button>
            </div>
            <div id="logged-in-info" style="display: none;">
                <label for="env-switch">Simulation:</label>
                <input type="checkbox" id="env-switch">
                <p>Login Status: <span id="login-status">Not Logged In</span></p>
            </div>
        </section>
    </header>
    <main>
        <section id="chart-portfolio">
            <canvas id="chart-container"></canvas>
            <section id="portfolio">
                <h2>Portfolio</h2>
                <table id="portfolio-table">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </section>
        </section>
        <section id="trade-news">
            <section id="trade">
                <h2>Trade</h2>
                <div class="trade-container">
                    <div class="trade-info">
                        <p>Latest Price: <span id="latest-price"></span></p>
                    </div>
                    <div class="trade-input">
                        <input type="text" id="symbol-input" placeholder="Enter stock symbol">
                        <input type="number" id="quantity-input" placeholder="Enter stock quantity">
                        <button id="buy-btn">Buy</button>
                        <button id="close-position-btn">Close Position</button>
                    </div>
                    <div class="trade-actions">
                        <button id="strategy1-btn">Strategy 1</button>
                        <button id="strategy2-btn">Strategy 2</button>
                    </div>
                </div>
            </section>
            <section id="news">
                <h2>Latest News</h2>
                <div id="news-container"></div>
            </section>
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>